<h1>Registrarion</h1>

{{#if errors}}
    <span>Something went wrong:</span>
    <ul class="error-list pad-b-2">
        {{#each errors as |error|}}
            <li class="error-item">{{error}}</li>
        {{/each}}
    </ul>
{{/if}}


<form method="post" action="/registration/redir">
  <label for="title-input" class="block mar-b-1">Name</label>
  <input id="one" name="name" type="text" value="{{usrnm}}" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="body-textarea" class="block mar-b-1">Password</label>
  <input id="two" name="password" type="text" value="{{pswrd}}" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Register" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
