<h1>Укажите вашу цену</h1>


<form  action="/ad/{{addId}}/respond" method="post">
    <input class="orderinp price" type="text" name="price" value="">
    <input type="submit" value="Отправить заявку" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>