<h1>Respond page</h1>


<form  action="/ad/{{addId}}/respond" method="post">
    <label >
        <input type="text" name="price" value="">
        <span>Укажите вашу цену </span>
    </label>

    <button type="submit" class="button dark">Отправить заявку</button>
</form>