<p class="block  w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">Категории поставки</p>

<main role="main">
  <ul class="entries-list no-bullets no-padding">
      <li class="entry-item pad-b-4">
        <a method="POST" href="/category">Строительство</a>
      </li>
       <li class="entry-item pad-b-4">
        <a method="POST" href="/category">Полиграфия</a>
      </li>
       <li class="entry-item pad-b-4">
        <a method="POST" href="/category">Химическая продукция</a>
      </li>
       <li class="entry-item pad-b-4">
        <a method="POST" href="/category">Энергетика</a>
      </li>
    
  </ul>
</main>

