<h3>КАТЕГОРИИ ПОСТАВКИ</h3>

<table width="100%" cellspacing="0" cellpadding="5">
<main role="main">
  <td width="400" valign="top">
  <ul class="entries-list no-bullets no-padding">
    {{#each listCategories}}
      <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category/{{this.id}}">{{this.category}}</a>
      </li>
      {{/each }}
       {{!-- <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category">Полиграфия</a>
      </li>
       <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category">Химическая продукция</a>
      </li>
       <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category">Энергетика</a>
      </li>
  </ul>
  </td>
  <td valign="top">
      <ul class="entries-list no-bullets no-padding">
      <li class="entry-item pad-b-4">
        <a class="mainpage" method="POST" href="/category">Медицинское оборудование</a>
      </li>
       <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category">Перевозки</a>
      </li>
       <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category">Промышленное оборудование</a>
      </li>
       <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category">Сельское хозяйство</a>
      </li> --}}
  </ul>
  </td>
</main>
</table>
