<h3>КАТЕГОРИИ ПОСТАВКИ</h3>

<table width="100%" cellspacing="0" cellpadding="5">
<main role="main">
  <td width="400" valign="top">
  <ul class="entries-list no-bullets no-padding">
    {{#each listCategories}}
      <li class="entry-item pad-b-4">
        <a class="mainpage" href="/category/{{this.id}}">{{this.category}}</a>
      </li>
      {{/each }}
    
  </ul>
  </td>
</main>
</table>
