/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* element styling */
html {
  height: 100%;
  background-color: #1099cf;
  background: url(../images/font.jpg);
  background-attachment: fixed;
  line-height: 1.4;
}

body {
  height: 100%;
}

a {
  color: rgb(121, 143, 214);
  text-decoration: none;
}

.mainpage {
  color: white;
  text-decoration: none;
}

  a:hover {
    color: white;
    text-decoration: underline;
  }

input[type=text], input[type=password], textarea {
  color: #05724f;
}

/* .mainhedder{
  color: #709bd3;
} */

/* positioning */
.block {
  display: block;
}

.center {
  margin: 0 auto;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* formatting */
.bg-dk-green {
  background-color: #3a7bcf;
}

.bg-white {
  background-color: #fefefe;
}

h3{
  margin-bottom: 70px;
}
.button {
  background:rgb(0, 52, 148);
  color: #fefefe;
  padding: 1em;
  text-decoration: none;
}

  .button:hover {
    color: white;
    text-decoration: none;
    background-color: #6ec7a5;
  }

.c-dk-green {
  color: #05724f;
}

.c-lt-gray {
  color: #cccccc;
}

.c-white {
  color: #fefefe;
}

  a.c-white:hover {
    color: #fefefe;
  }

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.col-3 {
  width: 33.33%;
}

.font-2 {
  font-size: 2em;
}

.font-3-4{
  font-size: .75em;
}

.h-10 {
  height: 10em;
}

.hover-underline:hover {
  text-decoration: underline;
}

.mar-b-1 {
  margin-bottom: 1em;
}

.mar-b-2 {
  margin-bottom: 2em;
}
.orderinp {
  width: 700px;
}
.descr {
  padding: 0 0 400px 0;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.mar-b-8 {
  margin-bottom: 8em;
}

.mar-b-16 {
  margin-bottom: 16em;
}

.mar-t-2 {
  margin-top: 2em;
}

.mar-t-3 {
  margin-top: 3em;
}

.mar-t-4 {
  margin-top: 4em;
}

.mar-t-5 {
  margin-top: 5em;
}

.max-w-700 {
  max-width: 700px;
}

.no-bg {
  background: none;
}

.no-border {
  border: none;
}

.no-bullets {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.no-outline {
  outline: none;
}

.no-padding {
  padding: 0;
}

.no-resize {
  resize: none;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 2em;
}

.pad-b-1-4 {
  padding-bottom: .25em;
}

.pad-b-2 {
  padding-bottom: 2em;
}

.pad-b-3 {
  padding-bottom: 3em;
}

.pad-b-4 {
  padding-bottom: 4em;
}

.pad-b-8 {
  padding-bottom: 8em;
}

.pad-s-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.pad-t-1 {
  padding-top: 1em;
}

.pad-t-2 {
  padding-top: 2em;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

  .pipe-separate:first-of-type {
    padding-left: 0;
  }

  .pipe-separate:last-of-type {
    padding-right: 0;
    border-right: none;
  }

.round-1 {
  border-radius: 1em;
}

.t-light-green {
  color: #32bb7d;
}

.text-c {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66.66%;
}

.w-100 {
  width: 100%;
}

.wrap-float {
  overflow: auto;
}

.logo-container {
  border: 5px solid #05724f;
  color: #05724f;
  width: 305px;
  height: 305px;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width:160px;
}
.newbut {
  color: rgb(83, 133, 209);
}

table {
  width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;

  text-align: center;
  }
  th, td:first-child {
  background: #AFCDE7;
  color: white;
  padding: 10px 20px;
  width: 150px;

  }

  th:first-child{
    text-decoration: underline;
  }
  th, td {
    width: 150px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  }
  td {
  background: #D8E6F3;
  color: rgb(29, 26, 26);
  }
  th:first-child, td:first-child {
  text-align: left;
  
  }
  #tableinp {
    width: 120px;
    font-size: x-small;
  }

  .city {
    font-size: x-small;
  }

  .maintable2{
border: none;
  }

  .column {
    -webkit-columns: 300px 2;
    -moz-columns: 300px 2;
    columns: 300px 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px ;
    -moz-column-rule: 1px ;
    column-rule: 1px ;
    
  }

  .entytext {
    font-size: large;
  }

  .personal {
    font-family: Geneva, Arial, Helvetica, sans-serif;
  }

  label{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
  }
  .userdata {
    color: black
  }
  .price {
    height: 50px;
  }
  .h3 {
    text-decoration: underline;
  }
  .entytext{
    font-size: large;
  }
  .title:first-child {
    color: black;
    text-decoration: none;
  }
  .title{
    color: black;
    text-decoration: none;
  }
.green {
  background-color: #05724f;
}

#tableinp2 {
  width: 80%;
  
}
.maintable3{
  border-right: none;
  border-left: none;
    }